// @use "../../../global-style/global.scss" as *;

.room {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  animation: fadeIn 1s ease-in-out;

  .header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 12, 63);
    padding: 2rem 1rem;
    align-items: center;
    height: 10vh;

    > h1 {
      color: white;
    }

    .sidebar {
      display: flex;
      align-items: center;
      gap: 10px;
      // background-color: rgb(0, 13, 73);
      // height: max;
      // padding: 2rem 1rem;

      .AcceptBtn {
        text-align: center;
        background: #f0f0f0;
        padding: 20px;
        border-radius: 8px;

        p {
          font-size: 16px;
          margin-bottom: 10px;
        }

        button {
          padding: 10px 15px;
          border: none;
          border-radius: 5px;
          font-size: 14px;
          cursor: pointer;
          transition: 0.3s ease-in-out;

          &:first-of-type {
            background: green;
            color: white;
            margin-right: 10px;

            &:hover {
              background: darkgreen;
            }
          }

          &:last-of-type {
            background: red;
            color: white;

            &:hover {
              background: darkred;
            }
          }
        }
      }

      > h4 {
        color: white;
        font-size: 1.2rem;
      }

      .sidebarButtons {
        display: flex;
        align-items: center;
        gap: 5px;
        // margin-top: 1rem;

        > button {
          padding: 5px;
          border: none;
          outline: none;
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          color: white;
        }

        .sendStreamsBtn {
          background-color: blue;
        }

        .callBtn {
          background-color: green;
        }
      }
    }
  }

  .roomBox {
    display: grid;
    width: 100vw;
    height: 90vh;
    position: relative;
    // grid-template-columns: 0.7fr 0.3fr;

    .streamingArea {
      display: grid;
      // grid-template-columns: 0.2fr 0.8fr;
      // flex: 0.85;
      gap: 1rem;
      padding: 1rem;
      // height: 100%;
      // width: 100%;
      background-color: rgb(0, 0, 39);
      position: relative;

      .peersStream {
        height: 75vh;
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        justify-items: center;

        .myStream {
          display: grid;
          // position: absolute;
          z-index: 5;
          animation: fadeIn 1.5s ease-in-out;
          // height: 100%;
          // width: 100%;

          > div {
            display: grid;
            height: 100% !important;
            width: 100% !important;
            align-items: center;
            justify-items: center;
            > video {
              width: 75vw !important;
              height: 85vh !important;
              border-radius: 20px;
              // box-shadow: 1px 1px 10px black;
            }
          }
        }

        .newMyStream {
          position: absolute;
          bottom: 1rem;
          left: 1rem;

          > div {
            > video {
              width: 300px !important;
              height: 250px !important;
            }
          }
        }

        .remoteStream {
          display: flex;
          // width: 100%;
          // height: 100%;
          justify-content: center;
          animation: fadeIn 1.5s ease-in-out;

          > div {
            display: flex;
            height: 100% !important;
            width: 100% !important;

            > video {
              flex: 1;
              height: 85vh !important;
              width: 100% !important;
            }
          }
        }
      }

      .shareScreenStream {
        display: grid;
        width: 100%;
        .remoteStream {
          width: 100%;
        }
      }

      .streamButtonsBox {
        position: absolute;
        display: flex;
        bottom: 2rem;
        width: 100%;
        justify-content: center;
        // z-index: 5;
        animation: fadeIn 2s ease-in-out;
        // width: fit-content;

        .streamButtons {
          width: fit-content;
          padding: 10px;
          background-color: rgba(58, 58, 58, 0.349);
          display: flex;
          border-radius: 50px;
          backdrop-filter: blur(5px);
          gap: 15px;
          position: relative;
          z-index: 5;

          > button {
            border-radius: 50%;
            padding: 10px;
            border: none;
            outline: none;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(218, 218, 218);
            background-color: transparent;
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover {
              background-color: rgb(80, 80, 80);
            }
          }

          > button:nth-of-type(3) {
            background-color: rgb(179, 17, 17);
            color: white;
          }
        }
      }
    }

    // .shareScreenStream {
    //   .remoteShareStream {
    //     > div {
    //       height: 85vh !important;
    //       height: 100% !important;
    //     }
    //   }
    // }

    .newStreamingArea {
      grid-template-columns: 0.2fr 1fr;
      .peersStream {
        display: flex;
        flex-direction: column;
        justify-content: end;
        // height: 100%;
        .newMyStream {
          position: relative;
          bottom: unset;
          left: unset;
        }
        .remoteStream {
          > div {
            > video {
              height: 250px !important;
              width: 300px !important;
            }
          }
        }
      }
      .shareScreenStream {
        .remoteShareStream {
          > div {
            height: 100% !important;
            width: 100% !important;
            > video {
              height: 85vh !important;
              width: 100% !important;
            }
          }
        }
      }
    }
    .chatArea {
      display: grid;
      height: 100%;
      width: 400px;
      position: relative;
      padding: 10px;
      overflow-y: auto;
      gap: 1rem;
      scrollbar-width: none;
      position: absolute;
      background-color: white;
      right: -400px;
      top: 0;
      opacity: 0;
      transition: all 0.3s ease;
      // border-radius: 20px 0 0 20px;
      .messageList {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
        // width: 300px;
        .message {
          display: flex;
          flex-direction: column;
          background-color: whitesmoke;
          padding: 5px;
          > p {
            display: flex;
            flex-direction: column;
            word-break: break-all;
            gap: 5px;
            > span:nth-of-type(1) {
              color: grey;
              font-size: 0.8rem;
            }
          }
        }
        > h3 {
          font-size: 1.2rem;
          font-weight: lighter;
        }
      }
      .chatBox {
        display: flex;
        align-self: flex-end;
        // margin: 0 10px;
        border: 1px solid #000c3f;
        // border-radius: 50px;
        overflow: hidden;
        > form {
          width: 100%;
          display: flex;
          > input {
            padding: 0 10px;
            flex: 1;
            border: none;
            outline: none;
            font-size: 1rem;
          }
          .submitIcon {
            // border-radius: 50%;
            background-color: #000c3f;
            color: white;
            padding: 10px 15px;
            cursor: pointer;
            > svg {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .room {
    .roomBox {
      .streamingArea {
        align-content: flex-start;
        .peersStream {
          // height: 45vh;
          gap: 10px;
          .newMyStream {
            position: unset;
            grid-area: 2;
            > div {
              > video {
                width: 200px !important;
                height: 150px !important;
                border-radius: 0;
              }
            }
          }
          .remoteStream {
            > div {
              > video {
                height: 50vh !important;
                // width: 200px !important;
                // height: 150px !important;
              }
            }
          }
        }
      }
      .newStreamingArea {
        grid-template-columns: 1fr;

        .peersStream {
          grid-area: 2;
          flex-direction: row;
          justify-content: center;
          height: fit-content;
          // height: 45vh;
          .newMyStream {
            > div {
              > video {
                max-width: 200px !important;
                max-height: 150px !important;
              }
            }
          }
          .remoteStream {
            > div {
              > video {
                width: 200px !important;
                height: 150px !important;
              }
            }
          }
        }

        .shareScreenStream {
          height: 45vh;
          .remoteShareStream {
            > div {
              > video {
                height: 45vh !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .room {
    .roomBox {
      .newStreamingArea {
        .peersStream {
          .newMyStream {
            > div {
              > video {
                width: 150px !important;
                height: 100px !important;
              }
            }
          }
          .remoteStream {
            > div {
              > video {
                width: 150px !important;
                height: 100px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .room {
    .roomBox {
      .streamingArea {
        .peersStream {
          .newMyStream {
            > div {
              > video {
                width: 150px !important;
                height: 100px !important;
              }
            }
          }
          .remoteStream {
            > div {
              > video {
                height: 40vh !important;
              }
            }
          }
        }
      }
      .newStreamingArea {
        .peersStream {
          .remoteStream {
            > div {
              > video {
                width: 150px !important;
                height: 100px !important;
              }
            }
          }
        }
      }
    }
  }
}
